<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Gudu-Order</title>
  {% include "resource.html" %}

  {% block head %}
  {% endblock head %}
</head>

<body>
  {% if icon_row %}
  <div class="flex gray-bg" id='logo_row'>
      <span>{{ staff.name }}你好</span>
      <img src="{{url_for('static', filename='img/logo.png')}}" class="flex-item homepage_btn"style="width: 20%;">
  </div>
  {% endif %}
  {% block content %}
  {% endblock content%}

  <script type="text/javascript">
    $('.homepage_btn').on('click', function(){
      window.location.href = '{{ url_for("index") }}';
    })
  </script>
</body>
</html>
