{% extends 'base.html' %}

{% set icon_row = True %}

{% block content %}
<div style="width: 100%; height: 100%">
    <div class="flex">
        <div>
            <div class="align-center flex-item" style="margin: 20 0 20 0"><h4>明細</h4></div>
            <div class="align-center flex-item" style="margin: 20 0 20 0">
                <span>桌號：{{ d_name }}</span>
                <span>結帳人員：{{ s_name }}</span>
            </div>
            <table class="table table-borderless" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">名稱</th>
                        <th scope="col">單價</th>
                        <th scope="col">數量</th>
                        <th scope="col">金額</th>
                    </tr>
                </thead>
                <tbody>
                    {% for (p, quantity) in details %}
                    <tr>
                        <th scope="row">{{ p.p_name }}</th>
                        <td>{{ p.price }}</td>
                        <td>{{ quantity }}</td>
                        {% set price = p.price * quantity%}
                        <td>{{ price }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
                <tfoot>
                    <tr style="border-top: 2px solid black;">
                        <th>總金額</th>
                        <td></td>
                        <td></td>
                        <td>{{ total_price }}</td>
                    </tr>
                    <tr style="height: 50px;">
                        <th>備註</th>
                        <td colspan="3">{{ note }}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="btn btn-outline-secondary back">返回</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    
    </div>
</div>

<script type="text/javascript">
    $('.back').on('click', function(){
        window.location.href = "{{ url_for('checkout.checkout_open_page')}}"
    });
</script>
{% endblock content%}
