{% extends 'base.html' %}

{% set icon_row = True %}

{% block content %}
<div style="width: 100%; height: 100%">
    <div class="flex">
        <div>
            <div class="align-center flex-item" style="margin: 20 0 20 0">
                <h5>桌號：{{ desk.name }}</h5>
            </div>
            <table class="table table-borderless" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">點餐時間</th>
                        <th scope="col">點餐員</th>
                        <th scope="col">名稱</th>
                        <th scope="col">單價</th>
                        <th scope="col">數量</th>
                        <th scope="col">金額</th>
                        <th scope="col">備註</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_detail in details %}
                        {% for op in order_detail['order_products'] %}

                            {% if loop.index == 1 %}
                    <tr style="border-top: 2px dashed black;">
                        <td>{{ order_detail['time'] }}</td>
                        <td>{{ order_detail['staff'] }}</td>

                            {% else %}
                    <tr>
                        <td></td>
                        <td></td>

                            {% endif %}
                            
                        <th scope="row">
                                {% if op.quantity < 0 %}
                            <span style="color: red">【取消】</span>
                                {% endif %}
                            {{ op.product_name }}
                        </th>
                        <td>{{ op.product_price }}</td>
                        <td>{{ op.quantity }}</td>
                        {% set price = op.product_price * op.quantity%}
                        <td>{{ price }}</td>

                            {% if loop.index == 1 %}
                        <td>{{ order_detail['note'] }}</td>

                            {% else %}
                        <td></td>

                            {% endif %}
                    </tr>
                        {% endfor %}
                    {% endfor %}

                </tbody>
                <tfoot>
                    <tr style="border-top: 2px solid black;">
                        <th>總金額</th>
                        <td colspan="4"></td>
                        <td>{{ desk.price }}</td>
                        <td></td>
                    </tr>
                    <tr style="height: 50px;">
                        <th>備註</th>
                        <td colspan="5">
                            <textarea name="note" cols="40" rows="5"></textarea>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="align-center flex-item" style="margin: 20 0 20 0">
                <button class="btn btn-outline-secondary checkout" style="margin-right: 30px;">結帳</button>
                <button class="btn btn-outline-secondary back">取消</button>
            </div>
        </div>
    
    </div>
</div>

<script type="text/javascript">
    var d_id = '{{ desk.id }}';
    var checkout_url = '{{ url_for("checkout.checkout_open_page") }}' + d_id;

    $('.checkout').on('click', function(){
        $('.checkout').attr('disabled', true);
        let note = $('textarea').val();
        $.ajax({
            url: checkout_url,
            type: 'POST',
            contentType: "application/json",
            dataType: 'json',
            processData : false,
            data: JSON.stringify({'note': note}),
            success: function(res){
                console.log(res);
                if(res['state'] == 'ok'){
                    window.location.href = "{{ url_for('checkout.checkout_open_page')}}";
                }else{
                    if(res['state'] == 'printer error'){
                        window.location.href = '{{ url_for("error_page") }}';
                    }else{
                        alert(res['reason']);
                        $('.checkout').attr('disabled', false);
                    }
                }
            },
            error: function(){
                $('.checkout').attr('disabled', false);
            }
        })
    });

    $('.back').on('click', function(){
        window.location.href = "{{ url_for('checkout.checkout_open_page')}}"
    });
</script>
{% if not pos_working %}
<script type="text/javascript">
    if(!confirm('目前POS機有錯，確定繼續結帳嗎？')){
        window.location.href = '{{ url_for("index") }}';
    }
</script>
{% endif %}
{% endblock content%}
