{% extends 'base.html' %}

{% block content %}

{% if error %}
  <div class="alert alert-danger text-center" role="alert"
       style="border-radius: 0">
    {{ error }}
  </div>
{% endif %}

<div style="width: 100%; height: 100%; padding-top: 5%">
  <div class="flex">
      <div class="text-center form-group">
          <div style="margin-bottom: 30px;">
              <img src="{{url_for('static', filename='img/logo.png')}}">
          </div>
          <div>
              <form method="POST">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">帳號</span>
                    </div>
                    <input type="text" name="username" class="form-control" aria-label="Username" aria-describedby="Username" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">密碼</span>
                    </div>
                    <input type="password" name="password" class="form-control" aria-label="Password" aria-describedby="Password" required>
                  </div>
                  <button type="submit" value="sign in" class="btn btn-outline-secondary" style="width: 20%;">登入</button>
              </form>
          </div>
  </div>
</div>
{% endblock content%}