{% extends 'base.html' %}

{% set icon_row = True %}

{% block content %}
<div style="width: 100%; height: 100%">
    <div class="flex">
        <div>
            <table class="table table-borderless" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">編號</th>
                        <th scope="col">名稱</th>
                        <th scope="col">IP</th>
                        <th scope="col">分開印</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in pos_machs %}
                    <tr class="pos_row" data-pid="{{ p.pos_id }}">
                        {% if p.pos_id == 1 %}
                        <th scope="row">{{ p.pos_id }}</th>
                        <td>
                            <input class="pos_name" type="text" value="{{ p.pos_name | hide_null }}" disabled>
                        </td>
                        <td>
                            <input class="ip" type="text" value="{{ p.ip | hide_null }}">
                        </td>
                        <td><input type="checkbox" class="split" disabled></td>
                        {% else %}
                        <th scope="row">{{ p.pos_id }}</th>
                        <td>
                            <input class="pos_name" type="text" value="{{ p.pos_name | hide_null }}">
                        </td>
                        <td>
                            <input class="ip" type="text" value="{{ p.ip | hide_null }}">
                        </td>
                        <td>
                            {% if not p.split %}
                            <input type="checkbox" class="split">
                            {% else %}
                            <input type="checkbox" class="split" checked>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                    <tr>
                        <th></th>
                        <td>
                            <button class="btn btn-outline-secondary" id="save_pos">儲存</button>
                        </td>
                        <td>
                            <button class="btn btn-outline-secondary homepage_btn">返回</button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    
    </div>
</div>

<script type="text/javascript">
    $('#save_pos').on('click', function(){
        var data = [];
        $('.pos_row').each(function(){
            let ip = $(this).find('td > input.ip').val();
            let pos_id = parseInt($(this).attr('data-pid'));
            let pos_name = $(this).find('td > input.pos_name').val();
            let split = $(this).find('td > input.split').prop("checked");
            data.push({'pos_id': pos_id, 'pos_name': pos_name, 'ip': ip, 'split': split});
        });
        $.ajax({
            url: '{{ url_for("pos_page") }}',
            type: 'POST',
            contentType: "application/json",
            dataType: 'json',
            processData : false,
            data: JSON.stringify({'data': data}),
        });
    });
</script>
{% endblock content%}
