{% extends 'base.html' %}

{% set icon_row = True %}

{% block content %}
<div style="width: 100%; height: 100%;" >
    <div class="flex">
        <div>
            <table class="table table-borderless" style="text-align: left;">
                <tbody>
                    <tr>
                        <th scope="row">名稱</th>
                        <td>
                            <input class="required" type="text" id="name" value="{{ product.name }}" >
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">價錢</th>
                        <td>
                            <input class="required" type="number" id="price" value="{{ product.price }}" >
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">分類</th>
                        <td>
                            {% if selected_category %}
                            {% set c_id = selected_category.id %}
                            <select class="required" disabled="disabled">
                                <option value="{{selected_category.id}}" selected="selected">{{ selected_category.name }}</option>
                            {% else %}
                            {% set c_id = product.category.id %}
                            <select class="required">
                                {% for c in categories %}
                                    {% if product.category != c %}
                                    <option value="{{c.id}}">{{c.name}}</option>
                                    {% else %}
                                    <option value="{{c.id}}" selected="selected">{{c.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">POS機</th>
                        <td>
                            {% for i in range (1,11) %}
                            <div class="form-check form-check-inline">
                                {% if i in poss %}
                                <input class="form-check-input" type="checkbox" value="{{i}}" checked="true">
                                {% else %}
                                <input class="form-check-input" type="checkbox" value="{{i}}">
                                {% endif %}
                                <label class="form-check-label">{{ i }}</label>
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">可販售</th>
                        <td>
                            <div class="form-check" style="padding-left: 0px;">
                                <input type="checkbox" id="available" checked="true">
                                <label class="form-check-label">  </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row flex-item">
                <button type="submit" class="btn btn-danger" id="save-new-product" style="margin-right: 10px;">儲存</button>
                <button type="button" class="btn btn-outline-secondary" id="back">返回</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var p_id = "{{ product.id }}";
    var c_id = "{{ c_id }}";
    var url = "{{ url_for('product.mgmt_page') }}";
    if(p_id == ""){
        p_id = 0;
    }
    url += p_id;

    $('#save-new-product').on('click', function(){
        var required_satisfied = true;
        $('.required').each(function(){
            if($(this).val() == ''){
                required_satisfied = false;
            }
        });
        if(!required_satisfied){
            return;
        }
        let pos_machs = [];
        $('.form-check-input').each(function(){
            if($(this).prop("checked") == true){
                pos_machs.push(parseInt($(this).val()));
            }
        });

        $.ajax({
            url: url,
            type: 'POST',
            contentType: "application/json",
            dataType: 'json',
            processData : false,
            data: JSON.stringify({
                'p_name': $('#name').val(), 
                'price': $('#price').val(),
                'c_id': $('select').val(),
                'pos_machs': pos_machs,
                'available': $('#available').prop("checked")
            }),
            success: function(res){
                console.log(res);
                let c_id = res.category;
                window.location.href = '{{ url_for("product.mgmt_page") }}#content-' + c_id;
            }
        });
    })

    $('#back').on('click', function(){
        window.location.href = '{{ url_for("product.mgmt_page") }}#content-' + c_id;
    })
</script>
{% endblock content%}


