/*// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    html{
        font-size: 40px;
    }
}*/

/* Large devices (desktops, 992px and up) */
html{
    font-size: 16px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){
    html{
        font-size: 28px;
    }
    table, .btn, a.nav-link{
        font-size: 24px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    html{
        font-size: 24px;
    }
    table, .btn, a.nav-link{
        font-size: 20px;
    }
    .modal-footer{
        display: flow-root;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    html{
        font-size: 20px;
    }
    table{
        font-size: 16px;
    }
    .modal-footer{
        display: flow-root;
    }
}

@media (min-width: 991.98px) {
    .modal-footer{
        display: flow-root;
    }
}

body{
    background-color:white;
}




.table th, .table td{
    vertical-align: middle;
}

img{
    width: 50%;
}

a{
    color:inherit;
    text-decoration: none;
}

input[type=checkbox]{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.modal-dialog{
    max-width: 600px;
}

.input-number{
    width: 20%;
}

.flex{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
}

.flex-item{
    margin: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    border: none;
}

.strikethrough{
    text-decoration: line-through;
}

.gray-bg{
    background-color: #eee;
}

.product-row{
    padding-top: 10px;
}

.remove-product{
    padding: 0 10 0 10px;
}

.align-center{
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.mid-font{
    font-size: 2rem;
}

.sm-font{
    font-size: 1rem;
}

.border{
    margin: 0px;
    padding: 10px;
}

.border .align-center{
    text-align: center;
    line-height: 2;
}

.pos_name{
    width: 250px;
}
